<mat-sidenav-container class="conteiner">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport=true
    fixedTopGap=64>
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <ul>
        <li *myFor="let n em [1, 2, 3]">{{ n }}</li>
    </ul>
</mat-sidenav-container>
